<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex, follow" />
  <title>By Women - Seu Perfil</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/menu.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
  <link rel="icon" href="/images/logo/logo-aba.svg" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="css/global.css" />
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/perfil.css" />
</head>

<body>
  <header>
    <div class="wallpaper bg-purplegradient container">
      <div class="profile pt-2">
        <nav class="header-navbar">
          <div class="header-components">
            <a href="javascript:void(0)" onClick="history.go(-1); return false;"><img
                src="images/icons/header/return.svg" alt="" /></a>
          </div>
          <div>
            <h1 class="your-profile">Seu perfil</h1>
          </div>
          <div class="header-components">
            <a href="/editarperfil"><img src="images/icons/header/lapis.svg" alt="" /></a>
          </div>
        </nav>
        <div class="profile-image">
          <%if(session.usu_autenticado_foto !==null){%>
            <div class="profile-picture-img mx-auto border-profile-img" id="profile-picture-img" style="
                background-image: url('data:image/jpeg;base64,<%= session.usu_autenticado_foto %>');
              ">
              <div class="mask-profile-img"></div>
            </div>
            <%}else{%>
              <img src="images/profile/perfil.png" alt="" class="mx-auto d-block border-profile-img" />
              <%}%>
                <h1 class="fonts-1 text-center text-purple-600">
                  <%= session.usu_autenticado_nome %>
                </h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="badges mx-auto">
      <% profissao_selecionada_colaboradora.forEach(function(profissao_selecionada_colaboradora){ %>
        <div class="badge">
          <%= profissao_selecionada_colaboradora.nome_profissao %>
        </div>
        <% }); %>
    </div>
    <div class="row justify-content-around text-center my-5">
      <a href="/pedidos" class="col-3 py-2 d-flex flex-column align-items-center profile-nav text-purple-500"
        style="max-width: 90px">
        <img src="images/profile/pedido.svg" alt="" />
        <span>Pedidos</span>
      </a>
      <a href="/historico" class="col-3 py-2 d-flex flex-column align-items-center profile-nav text-purple-500"
        style="max-width: 90px">
        <img src="images/profile/historico.svg" alt="" />
        <span>Historico</span>
      </a>
      <a href="/planos" class="col-3 py-2 d-flex flex-column align-items-center profile-nav text-purple-500"
        style="max-width: 90px">
        <img src="images/profile/anuncie.svg" alt="" />
        <span>Anuncie</span>
      </a>
    </div>
    <div class="description mx-auto">
      <p>
        <%= session.usu_colaboradora_autenticado_descricao %>
      </p>
    </div>
    <section>
      <% if(trabalhos_realizados===null){}else{ %>
        <div class="">
          <h1 class="text-start fonts-2">Trabalhos</h1>
        </div>
        <div class="carrossel-trabalhos mt-3 mb-5">
          <% trabalhos_realizados.forEach(function(trabalhos_realizados){ %>
            <div class="your-work bg-image mt-2 mx-1" style="
              background-image: url('data:image/jpeg;base64,<%= trabalhos_realizados.imagem_trabalho %>');
            border-radius: 20px;">
              <div class="info-work">
                <span>Clique e veja informação do trabalho</span>
                <img src="images/icons/clique.svg" alt="" />
              </div>
              <div class="title-work">
                <h2 class="fonts-1">
                  <%= trabalhos_realizados.titulo %>
                </h2>
              </div>
              <div class="description-work">
                <p class="fonts-4">
                  <%= trabalhos_realizados.descricao %>
                </p>
              </div>
            </div>
            <% }); %>
        </div>
        <% } %>
          <% if(certificacoes===null){}else{ %>
            <div class="mt-5">
              <h1 class="text-start fonts-2">Lincenças e certificados</h1>
            </div>
            <div class="carrossel-certificacoes mt-3 mb-5">
              <% certificacoes.forEach(function(certificacoes){ %>
                <div class="add-certificate mx-1">
                  <div class="h-100 w-100 bg-image" style="
                background-image: url('data:image/jpeg;base64,<%= certificacoes.foto_certificacao %>');
                border-radius: 20px;
              ">
                    <div class="mask-shadow">
                      <span class="course text-white">
                        <%= certificacoes.nome_curso %>
                      </span>
                    </div>
                  </div>
                </div>
                <% }); %>
            </div>
            <% } %>
              <% if(certificacoes===null){ %>
                <a href="/editarperfil">Completar perfil</a>
                <% }else if(certificacoes===null){ %>
                  <a href="/editarperfil">Completar perfil</a>
                  <% }else{} %>
    </section>
    <div class="fake-menu"></div>
  </div>
  <%- include("./../../components/menu/index.ejs") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
    <script>
      $(".carrossel-trabalhos").slick({
        dots: true,
        arrows: false,
        infinite: false,
        centerMode: true,
        centerPadding: "25px",
        slidesToShow: 1,
      });
      $(".carrossel-certificacoes").slick({
        dots: true,
        arrows: false,
        infinite: false,
        centerPadding: "60px",
        slidesToShow: 2.1,
      });
    </script>
    <script>
        const shadows = document.querySelectorAll('.your-work')

        shadows.forEach((shadow, index, arr) => {
          shadow.addEventListener('click', () => {

            if (arr[index].classList.contains('shadow-description')) {
              return arr[index].classList.remove('shadow-description')
            }

            for (let i = 0; i < arr.length; i++){
              arr[i].classList.remove('shadow-description')
            }

            arr[index].classList.add('shadow-description')
          })
        })
    </script>
</body>

</html>